// components/store/Store.scss
.store-container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .booking-request {
    padding: 20px;
    text-align: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #153464;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      color: #5f6c7b;
    }

    .booking-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        margin-bottom: 1.5rem;
        width: 90%;

        label {
          display: block;
          margin-bottom: 0.5rem;
          font-size: 1rem;
          color: #094067;
        }

        input,
        select,
        textarea {
          width: 100%;
          padding: 0.75rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
          color: #094067;
          box-sizing: border-box;
        }

        textarea {
          height: 100px;
          resize: vertical;
        }
      }

      .submit-button {
        padding: 0.75rem 2rem;
        font-size: 1rem;
        color: #ffffff;
        background-color: #153464;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          color: #ef4565;
          background-color: #094067;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .store-container {
    padding: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .store-container {
    padding: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .store-container {
    padding: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .store-container {
    padding: 6rem;
    width: 60%;
    margin: 0 auto;
  }
}
