@use "../../styles/variables" as vars;
@use "../../styles/mixins";
@use "../../styles/common";

.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: vars.$color-primary;
  padding: 1em;
  box-shadow: 0 -2px 5px vars.$box-shadow-color;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid vars.$color-primary;

  .cookie-consent-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .cookie-info {
      margin-bottom: 1em;

      p {
        margin: 0;
        font-family: vars.$font-secondary;
        font-size: calc(0.8rem + 0.5vw);
        color: vars.$color-primary;

        a {
          color: vars.$color-secondary;
          text-decoration: underline;

          &:hover {
            color: vars.$color-accent; 
          }
        }
      }
    }

    .cookie-consent-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;

      button {
        @include mixins.button-styles;
      }
    }
  }
}

.cookie-icon {
  @include common.common-icon-style;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-image: vars.$gradient-button;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  z-index: 999;

  .fa-cookie-bite {
    color: vars.$color-background;
  }
}