@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/common'; // Import the common styles

.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $color-background;
  color: $color-primary;
  padding: 1em;
  box-shadow: 0 -2px 5px $box-shadow-color;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .cookie-consent-content {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
      margin: 0 0 1rem;
      font-family: $font-primary;
      font-size: 1rem;
      color: $color-primary;

      a {
        color: $color-secondary;
        text-decoration: underline;
      }
    }
  }

  .cookie-consent-buttons {
    display: flex;
    gap: 1em;
  

    button {
      font-family: $font-primary;
      font-weight: 300;
      text-align: center;
      color: $color-background;
      background-color: $color-primary;
      border: none;
      padding: 0.5em 1em;
      cursor: pointer;
      transition: $transition-default;
    

      &:hover {
        color: $color-primary;
        background-color: #e0e0e0;
      }
    }
  }
}

.cookie-icon {
  @extend .common-icon-style; // Use the common class
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-image: $gradient-button;
  z-index: 1000;
}
