@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;

.policy-info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: variables.$color-background;
  font-family: "Playfair Display", serif;
  color: variables.$color-primary;
  font-size: calc(1rem + 0.5vw);

  @include mixins.responsive-font-size;

  h2 {
    font-family: "Montserrat", sans-serif;
    color: variables.$color-secondary;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1em;
    text-align: center;
    transition: variables.$transition-default;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }

  h4 {
    font-family: "Montserrat", sans-serif;
    color: variables.$color-secondary;
    font-size: 1.3rem;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.6;
  }

  a {
    color: variables.$color-secondary;
    text-decoration: underline;
    transition: variables.$transition-default;

    &:hover {
      color: variables.$color-accent;
    }
  }

  section {
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  ul {
    margin-bottom: 1.5em;
    padding-left: 1.5em;
    list-style-type: disc;

    li {
      margin-bottom: 0.5em;
    }
  }

  .contact-form {
    margin-top: 1.5em;
    @include mixins.flex-center(flex-start, center);
    flex-direction: column;

    & {
      align-self: center;
    }

    .form-group {
      margin-bottom: 1.5em;
      width: 100%;

      label {
        display: block;
        margin-bottom: 0.5em;
        font-weight: bold;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.5em;
        border: 1px solid variables.$color-border;
        border-radius: 5px;
        font-size: 1rem;
      }

      textarea {
        height: 150px;
        resize: vertical;
      }
    }

    button {
      @include mixins.button-styles;
    }
  }

  @media (max-width: 768px) {
    padding: 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 1rem;
  }
}
