// HeroSection Component Styles
@use "../../../../../styles/variables" as vars;

.hero-section {
  text-align: center;
  margin-bottom: 2rem;

  .title-script {
    font-family: vars.$font-tertiary;
    font-size: clamp(2.2rem, 5vw, 3.5rem);
    color: vars.$color-primary;
  }

  .slogan {
    font-size: 1.25rem;
    color: vars.$color-secondary;
    margin-top: 1rem;
    line-height: 1.6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}