@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as mixins;

.chatbot-input {
  display: flex;
  align-items: center;
  background-color: vars.$color-background;
  border-top: 1px solid vars.$color-secondary;
  padding: 12px;

  input {
    font-size: 0.9rem;

    flex: 1;
    padding: 12px;
    border: 1px solid vars.$color-secondary;
    border-radius: 8px;
    margin-right: 12px;
    font-family: vars.$font-secondary;
    transition: border-color 0.3s;

    &:focus {
      border-color: vars.$hover-color;
      outline: none;
    }

    @media (max-width: 480px) {
      font-size: 0.85rem;
    }

    @media (min-width: 2560px) {
      font-size: 1rem;
    }
  }

  button {
    font-size: 0.9rem;

    @include mixins.button-styles;

    @media (min-width: 2560px) {
      font-size: 1rem;
    }
  }
}
