// _toggle.scss
@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins;
@use '../../../styles/common' as common;

.chatbot-toggle {
    @extend .common-icon-style;
  
    &.hidden {
      display: none !important;
    }
  
    @media (max-width: 480px) {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
    }
  }