// src/components/safaris/components/common/SafariFooter.scss
@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixins" as mixins;

.safaris-footer {
  text-align: center;
  padding: 16px;
  font-family: vars.$font-secondary;
  font-size: 0.85rem;
  color: vars.$color-secondary;
  background-color: vars.$color-background-light;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  @include mixins.respond-to(sm) {
    padding: 18px;
    font-size: 0.9rem;
  }

  @include mixins.respond-to(lg) {
    padding: 20px;
    font-size: 1rem;
  }

  p {
    margin: 0;
    line-height: 1.5;
  }
}