@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;
@use 'sass:color';

.error-container {
  padding: 2rem;
  text-align: center;
  background-color: color.adjust(vars.$color-accent, $lightness: 40%);
  color: color.adjust(vars.$color-accent, $lightness: -20%);
  border: 1px solid color.adjust(vars.$color-accent, $lightness: 20%);
  border-radius: 0.25rem;
  margin: 2rem;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: vars.$font-primary;
    color: vars.$black;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: vars.$font-secondary;
  }

  .reload-button {
    @include mixins.button-styles;
  }

  .footer__info,
  .footer__contact {
    margin-top: 2rem;
    font-family: vars.$font-secondary;

    p {
      margin: 0.5rem 0;
    }

    a {
      color: color.adjust(vars.$color-accent, $lightness: -20%);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer__whatsapp-link {
      margin-left: 0.5rem;

      .footer__whatsapp-icon {
        font-size: 1.5rem;
      }
    }

    .footer__social {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 1rem;

      a {
        font-size: 1.5rem;
        color: color.adjust(vars.$color-accent, $lightness: -20%);

        &:hover {
          color: vars.$hover-color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;
    margin: 1rem;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .reload-button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }

    .footer__info,
    .footer__contact {
      margin-top: 1.5rem;

      p {
        font-size: 0.9rem;
      }

      a {
        font-size: 0.9rem;
      }

      .footer__whatsapp-link .footer__whatsapp-icon,
      .footer__social a {
        font-size: 1.2rem;
      }

      .footer__social {
        gap: 0.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 0.5rem;
    margin: 0.5rem;

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }

    .reload-button {
      padding: 0.4rem 0.8rem;
      font-size: 0.8rem;
    }

    .footer__info,
    .footer__contact {
      margin-top: 1rem;

      p {
        font-size: 0.8rem;
      }

      a {
        font-size: 0.8rem;
      }

      .footer__whatsapp-link .footer__whatsapp-icon,
      .footer__social a {
        font-size: 1rem;
      }

      .footer__social {
        gap: 0.25rem;
      }
    }
  }
}
