// src/components/aboutus/AboutPage.scss
@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;
@use "../../styles/container" as container;
@use './components/styles/header';
@use './components/styles/logo';
@use './components/styles/content';
@use './components/styles/partners';
@use './components/styles/map';

.about-page {
  @include container.standard-container;
  background-color: vars.$color-background;
  color: vars.$color-primary;
  margin-bottom: 2rem;
}