.photo-slide {
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; // Adjust the height as needed
    overflow: hidden;
  
    .image-fade-in {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 1rem;
    }
  }