@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as *;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.unique-experiences {
  width: 95%;
  margin: 1rem auto;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  max-width: 1200px;

  @media screen and (min-width: 1440px) {
    width: 60%;
    margin: 0 auto;
  }

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }

  &__title {
    font-family: vars.$font-tertiary;
    font-size: 2rem;
    font-weight: 300;
    color: vars.$color-secondary;
    text-align: center;
    margin: 2rem;
  }
}