@use "sass:color";
@use "../styles/variables" as vars;

@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin responsive-font-size {
  font-size: calc(0.8rem + 0.5vw);

  @media screen and (min-width: 1024px) {
    font-size: inherit;
  }

  @media screen and (min-height: 1079px),
    screen and (min-width: 1022px),
    screen and (min-width: 1279px),
    screen and (min-width: 1439px),
    screen and (min-width: 1727px) {
    font-size: 0.8rem;

    @media screen and (min-width: 1439px) {
      font-size: 1rem;
    }

    @media screen and (min-width: 1727px) {
      font-size: 1.2rem;
    }
  }
}

@mixin responsive-layout {
  @media screen and (min-height: 1079px),
    screen and (min-width: 1022px),
    screen and (min-width: 1279px),
    screen and (min-width: 1439px),
    screen and (min-width: 1727px) {
    .nav {
      height: 4rem;
      padding: 0;

      .store button {
        font-size: 0.6rem;
        margin-left: 0.4rem;
      }

      .menu__logo {
        height: 1rem;
      }

      .classic-menu ul {
        gap: 0.1rem;
      }

      .menu__item {
        font-size: 0.8rem;

        @media screen and (min-width: 1439px) {
          font-size: 1rem;
        }

        @media screen and (min-width: 1727px) {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@mixin button-styles {
  & {
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    font-size: calc(0.6rem + 0.5vw);
    background-image: vars.$gradient-button;
    color: vars.$color-background;
    border: none;
    font-family: vars.$font-primary;
    cursor: pointer;
    transition: vars.$transition-default;
  }

  @media (max-width: 768px) {
    padding: 0.8rem 1.6rem;
    font-size: calc(0.5rem + 1vw);
  }

  @media (max-width: 480px) {
    padding: 0.6rem 1.2rem;
    font-size: calc(0.4rem + 1.5vw);
  }

  &:hover {
    color: vars.$hover-color;
    background-image: linear-gradient(
      120deg,
      color.adjust(vars.$color-primary, $lightness: -10%) 0%,
      color.adjust(vars.$color-accent, $lightness: -10%) 100%
    );
  }

  i {
    text-decoration: none;
    transition: vars.$transition-default;
  }
}