// _variables.scss

/* Fonts */
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Kaushan Script', cursive;

/* Colors */
$color-primary: #153464;
$color-secondary: #094067;
$color-background: #fffffe;
$color-accent: #f97316;
$color-border: #dcdcdc; // Added border color

/* Gradients */
$gradient-button: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

/* Transitions */
$transition-default: all 0.3s ease-in-out;

/* Additional variables used in NavBar */
$hover-color: $color-accent;
$menu-background: $color-background;
$box-shadow-color: rgba(0, 0, 0, 0.4);
$transition-duration: 0.3s;
$transition-ease: 0.5s ease;

/* Additional variables for Chatbot */
$color-user-message: lighten($color-accent, 30%);
$color-assistant-message: #f1f0f0;
