// _variables.scss
@use "sass:color";

/* Fonts */
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Kaushan Script', cursive;

/* Colors */
$color-primary: #1A4D6E;
$color-secondary: #215A7C;
$color-background: #FAFBFD; 
$color-accent: #FF6F61;
$color-border: #E1E6EB;
$black: #1A1A1A; 

/* Gradients */
$gradient-button: linear-gradient(120deg, $color-primary 0%, $color-accent 100%);

/* Transitions */
$transition-default: all 0.3s ease-in-out;

/* Additional variables used in NavBar */
$hover-color: #FF926B;
$menu-background: $color-background;
$box-shadow-color: rgba(26, 77, 110, 0.2);
$transition-duration: 0.3s;
$transition-ease: 0.5s ease;

/* Additional variables for Chatbot */
$color-user-message: color.adjust($color-accent, $lightness: 10%);
$color-assistant-message: #F4F7FA;

/* Adjusted color backgrounds using color.adjust */
$color-background-light: color.adjust($color-background, $lightness: 8%);
$color-background-dark: color.adjust($color-background, $lightness: -8%);

/* Text colors for various backgrounds */
$color-on-primary: #FFFFFF;
$color-on-user-message: #FFFFFF;
$color-on-assistant-message: #1A1A1A;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop: 1024px;

// New Variable
$grid-gap: 2rem; /* Added grid-gap */

// ADD THIS:
$border-radius-default: 0.5rem; // Add border-radius-default (adjust value as needed)
$box-shadow-default: 0 4px 6px -6px rgba(0, 0, 0, 0.2); // Add a default box-shadow (adjust as needed)

$color-error: #991b1b;
$color-error-bg: #fee2e2;
$color-success: #166534;
$color-success-bg: #dcfce7;