// filepath: /a:/Projects/destinationparadise/src/styles/common.scss
@use './variables' as vars;
@use './mixins' as mixins;

@mixin common-icon-style {
  background-color: vars.$color-primary;
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: 0 2px 5px vars.$box-shadow-color;
  cursor: pointer;
  @include mixins.flex-center;

  svg {
    color: vars.$color-background;
    width: 2em;
    height: 2em;
    transition: vars.$transition-default;

    &:hover {
      color: vars.$color-accent;
    }
  }

  &:hover {
    transform: scale(1.2);
  }
}

.common-icon-style {
  @include common-icon-style;
}