/* Gallery */
.gallery-item {
    --box-shadow-hover: 3px 3px 10px rgb(0 0 0 / 20%);
    --box-shadow-default: 0 2px 8px rgb(0 0 0 / 10%);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    position: relative;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    will-change: transform, box-shadow;

    img,
    iframe {
        width: 100%;
        height: auto;
        box-shadow: var(--box-shadow-default);
        border-radius: inherit;
    }

    iframe {
        aspect-ratio: 16 / 9;
        border: none;
    }

    &:hover {
        transform: scale(1.05);
        z-index: 1;
        box-shadow: var(--box-shadow-hover);
    }
}

/* Responsive Design */
@media screen and (width <= 900px) {
    .gallery-item {
        width: 95%;
    }

    img,
    iframe {
        box-shadow: var(--box-shadow-default);
    }
}

@media screen and (width <= 600px) {
    .gallery-item {
        width: 100%;
        margin-bottom: 1rem;
    }

    img,
    iframe {
        border-radius: 5px;
    }
}