@font-face {
    font-family: 'Pacifico';
    src: url("./assets/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Playfair Display';
    src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Kaushan Script';
    src: url("./assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf") format("truetype");
}