// Colors
$primary-color: #005f73;
$secondary-color: #ef4565;
$background-color: #ffffff;
$text-color: #333333;
$box-shadow-color: rgba(0, 0, 0, 0.08);
$hover-box-shadow-color: rgba(0, 0, 0, 0.2);

// Fonts
$font-family: "Montserrat", sans-serif;
$font-size-base: 1rem;
$font-size-large: 2rem;

// Sizes
$border-radius: 1rem;
$padding-base: 1rem;
$padding-large: 1.5rem;
$gap-base: 1rem;
$gap-large: 2rem;

// Transitions
$transition-base: 0.3s;
$transition-hover: 0.3s, box-shadow 0.3s;
