:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Playfair Display', serif;
    --font-accent: 'Kaushan Script', cursive;
    
    --color-primary: #153464;
    --color-secondary: #094067;
    --color-background: #fffffe;
    --color-accent: #ef4565;
    
    --gradient-button: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    
    --transition-default: all 0.3s ease-in-out;
}