.excursions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 2rem;
    font-weight: 300;
    margin: 1.5rem;
    text-align: center;
    color: #003366;
  }

  .excursions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.5rem;

    h4 {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      margin: 1rem;
      text-align: center;
      color: #003366;
      padding: 1rem;
    }

    .trips {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: 0.1rem solid #003366;
      border-radius: 1rem;
      width: 20rem;

      .stonetown{
        background-image: url("../../assets/images/stonetown/DSC_0431.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 15rem;
        border-radius: 1rem;
      }

      .safariblue{
        background-image: url("../../assets/images/safariblue/NIJLuDust3Y\ \(2\).jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 15rem;
        border-radius: 1rem;
      }

      .spicetour{
        background-image: url("../../assets/images/spicetour/DSC_0296.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 15rem;
        border-radius: 1rem;
      }
    }
  }
}
