.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh; // Full viewport height
  margin-top: -4rem; // Overlap the navbar
  padding-top: 4rem; // Add padding to compensate for the overlapped navbar
  overflow: hidden;

  .video-background {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0; // Ensuring the video is behind the content
  }

  .name-motto {
    padding: 1rem 0;
    z-index: 1;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #5f6c7b;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 30px;
    box-shadow: 1px 1px 7px #bebebe, -1px -1px 7px #ffffff;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 15rem;
    z-index: 1;
    opacity: 0.85;
  }
}

