.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //margin: 3rem 0;
  background-image: url("../src/assets/images/DJI_0026.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    height: 93vh;

  .name-motto {
    padding: 1rem 0;

    h1 {
      font-size: 2.3rem;
      font-weight: 300;
      margin: 0;
      margin-bottom: 1rem;
      text-align: center;
      color: #003366;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 300;
      margin: 0;
      margin-bottom: 1rem;
      text-align: center;
      color: #003366;
    }
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #607d8b;
    background-color: #f0faff;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 13rem;
    border-radius: 1rem;
  }
}
