.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh; // Full viewport height
  margin-top: -6rem; // Overlap the navbar
  padding-top: 6rem; // Add padding to compensate for the overlapped navbar
  overflow: hidden;

  .video-background {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0; // Ensuring the video is behind the content
  }

  .name-motto {
    padding: 1rem 0;
    z-index: 1;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #5f6c7b;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.7rem #bebebe, -0.1rem -0.1rem 0.7rem #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 17rem;
    padding: 0.5rem 1rem;
    z-index: 1;
    opacity: 0.85;
    transition: 1s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 3s ease-out;
  }
}

@media screen and (min-width: 359px) {
  .hero-container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 420px) {
  .hero-container {
    justify-content: space-around;
    height: 100vh;

    p {
      width: 20rem;
      font-size: 1.3rem;
    }
  }
}

@media screen and (min-width: 567px) {
  .hero-container {
    justify-content: space-around;
    height: 150vh;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    justify-content: space-around;
    height: 110vh;

    p {
      width: 30rem;
      font-size: 1.5rem;
    }
  }
}
