/**
 * Styles for the testimonials component.
 */
.testimonials {
    text-align: center;
    margin: 2rem 0;
    width: 100%;
  
    /**
     * Styles for the heading within the testimonials component.
     */
    h2 {
      font-size: 1.4rem;
      font-weight: 300;
      padding: 0.5rem 0;
      color: #003366;
    }
  
    /**
     * Styles for each review within the testimonials component.
     */
    .review {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      width: 90vw;
      height: 100%;
      margin: 0 auto;
      gap: 1.5rem;
  
      /**
       * Styles for the image within each review.
       */
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
  
      /**
       * Styles for the name and stars section within each review.
       */
      .namestars {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }
  
      /**
       * Styles for the review text within each review.
       */
      span {
        padding: 20px;
        font-size: 1rem;
        text-align: center;
        height: max-content;
        width: max-content;
        color: #003366;
      }
    }

    /**
     * Styles for the button within the testimonials component.
     */
    button {
      background-color: #ffffff;
      border: 1px solid #00b4d8;
      border-radius: 0.9rem;
      padding: 0.5rem;
    }
  }
