.excursions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.excursions__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  justify-items: center;
}

.excursion-card {
  width: 90%;
  height: 95vh;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 16px -5px rgba(0, 0, 0, 0.08);
  transition: all 0.35s;
  border-radius: 1rem;

  &:hover {
    .excursion-card__content {
      background-color: #f8f9fa;
      transform: translateY(-10%);
      transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    }

    .excursion-card__link {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    }

    .excursion-card__image {
      transform: scale(1.05);
      transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 50%;
    text-align: center;
    background-color: #fffffe;
    padding: 1rem;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #005f73;
    font-size: 1.2rem;
    text-align: center;
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin: 0 1rem;
    text-align: center;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #ef4565;
    opacity: 0;
    transition: all 0.35s;
    font-size: 1rem;
    margin-top: 1rem;

    &:hover svg {
      transform: translateX(4px);
    }

    svg {
      width: 18px;
      margin-left: 4px;
      transition: transform 0.3s;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
}

@media  screen and (min-width: 375px){

  .excursion-card {
    height: 63vh;
  }
  
}

@media screen and (min-width: 767px) {
  .excursions__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .excursion-card {
    height: 650px;
    width: 100%;
    max-width: 550px;

    &__content {
      padding: 1.5rem;
    }

    &__title {
      font-size: 1.2rem;
    }

    &__text {
      font-size: 1.2rem;
      padding: 1rem 0;
      margin: 0 1rem;
    }

    &__link {
      font-size: 1rem;
      margin-top: 1.5rem;

      svg {
        width: 24px;
        margin-left: 6px;
      }
    }

    &__image {
      height: 60%;
    }
  }

  .excursion-card:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
    max-width: 550px; /* Ensure the same max-width as other cards */
  }
}

@media screen and (min-width: 1280px) {
  .excursions__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .excursion-card {
    height: 97vh;
    width: 100%;
    max-width: 400px;

    &__title {
      font-size: 1.4rem;
    }

    &__text {
      font-size: 1.2rem;
    }
  }

  .excursion-card:nth-child(3) {
    grid-column: unset;
    justify-self: unset;
    max-width: 400px; /* Ensure the same max-width as other cards */
  }
}

@media screen and (min-width: 1440px) {
  .excursion-card {
    max-width: 500px;
    height: 75vh;
  }

  .excursion-card:nth-child(3) {
    max-width: 500px; /* Ensure the same max-width as other cards */
  }
}
