@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

@keyframes slideInFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}.hero {
  @include mixins.flex-center;
  flex-direction: column;
  position: relative;
  margin-top: -6rem;
  padding-top: 6rem;
  overflow: hidden;
  min-height: 100vh; // Use min-height for flexibility

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    &::before {
      // Aspect ratio hack - Crucial for CLS fix
      content: "";
      display: block;
      padding-top: 56.25%;
      /* 16:9 aspect ratio - Adjust as needed */
    }

  .hero__placeholder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      animation: fadeIn 1s ease-in-out;
    }

  .hero__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1s ease-in;
      will-change: opacity;
      // Improve performance

      &.visible {
        opacity: 1;
      }
    }
  }

  &__content {
    @include mixins.flex-center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    padding: 0 1rem;
  }

  &__heading {
    h1 {
      font-family: vars.$font-tertiary;
      font-size: 3rem;
      font-weight: 500;
      color: vars.$color-background;
      margin-top: -12rem;
      animation: slideInFade 1.5s ease-out forwards;
      opacity: 0;
      @include mixins.responsive-font-size;
    }

    h2.motto {
      font-family: vars.$font-tertiary;
      font-size: 1.5rem;
      font-weight: 300;
      color: vars.$color-accent;
      animation: slideInFade 1.5s ease-out forwards;
      opacity: 0;
      animation-delay: 0.5s;
      @include mixins.responsive-font-size;

      @media screen and (min-width: 374px) {
        font-size: 1.8rem;
      }

      @media screen and (min-width: 768px) {
        font-size: 2.5rem;
      }

      @media screen and (min-width: 1024px) {
        font-size: 3rem;
      }
    }
  }

  &__description {
    font-family: vars.$font-primary;
    background-image: vars.$gradient-button;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1rem 1rem;
    color: vars.$color-on-primary;
    padding: 0.5rem 1rem;
    animation: slideInFade 2s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
    border-radius: 10px;
    width: 90%;
    max-width: 40rem;
    @include mixins.responsive-font-size;
  }
}

// Media queries remain the same

@media screen and (min-width: 374px) {
.hero {
    &__heading {
      h1 {
        font-size: 3.5rem;
      }

      h2.motto {
        font-size: 1.8rem;
      }
    }

    &__description {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 420px) {
.hero {
    &__description {
      font-size: 1.3rem;
    }
  }
}

@media screen and (min-width: 768px) {
.hero {
    &__heading {
      h1 {
        font-size: 6rem;
      }

      h2.motto {
        font-size: 2.5rem;
      }
    }

    &__description {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
.hero {
    &__heading {
      h1 {
        font-size: 7rem;
      }

      h2.motto {
        font-size: 3rem;
      }
    }

    &__description {
      font-size: 1.8rem;
    }
  }
}