@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hero {
  @include mixins.flex-center;
  flex-direction: column;
  position: relative;
  margin-top: -6rem;
  padding-top: 6rem;
  overflow: hidden;
  height: 100vh;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    .hero__placeholder {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hero__video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1s ease-in;

      &.visible {
        opacity: 1;
      }
    }
  }

  &__content {
    @include mixins.flex-center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    padding: 0 1rem;
  }

  &__heading {
    h1 {
      font-family: vars.$font-tertiary;
      font-size: 3rem;
      font-weight: 500;
      color: vars.$color-background;
      margin-top: -12rem;
      @include mixins.responsive-font-size;
    }

    h3 {
      font-family: vars.$font-primary;
      font-size: 1.2rem;
      font-weight: 300;
      color: vars.$color-background;
      @include mixins.responsive-font-size;
    }
  }

  &__description {
    font-family: vars.$font-primary;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1rem 1rem;
    color: vars.$color-background;
    padding: 0.5rem 1rem;
    animation: fadeIn 3s ease-out;
    border-radius: 10px;
    width: 90%;
    max-width: 40rem;
    @include mixins.responsive-font-size;
  }
}

@media screen and (min-width: 374px) {
  .hero {
    &__heading {
      h1 { font-size: 3.5rem; }
      h3 { font-size: 1.5rem; }
    }
    &__description { font-size: 1.2rem; }
  }
}

@media screen and (min-width: 420px) {
  .hero {
    &__description { font-size: 1.3rem; }
  }
}

@media screen and (min-width: 665px) {
  .hero {
    &__content { padding: 0 2rem; }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    &__content { padding: 0 3rem; }
    &__heading {
      h1 { font-size: 6rem; }
      h3 { font-size: 1.8rem; }
    }
    &__description { font-size: 1.5rem; }
  }
}

@include mixins.responsive-layout;
