// Hero.scss
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 83vh;
  margin-top: -6rem;
  padding-top: 6rem;
  overflow: hidden;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
  }

  &__heading {
    padding: 0 1rem;
  }

  &__description {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1rem 1rem;
    color: #153464;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 0.1rem 0.1rem 0.7rem #bebebe, -0.1rem -0.1rem 0.7rem #ffffff;
    padding: 0.5rem 1rem;
    opacity: 0.85;
    animation: fadeIn 3s ease-out;
    border-radius: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 420px) {
  .hero {
    &__description {
      width: 20rem;
      font-size: 1.3rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 110vh;

    &__description {
      width: 30rem;
      font-size: 1.5rem;
    }
  }
}