@use "../../styles/variables" as vars;
@use "../../styles/mixins" as *;

.gallery {
  margin: 2rem auto;
  max-width: 1200px;

  &__title {
    margin: 2rem 0;
    font-family: vars.$font-secondary;
    font-size: 2rem;
    color: vars.$color-primary;
    text-align: center;
  }

  &__more {
    text-align: center;
    margin-top: 3rem;

    .gallery__more-link {
      @include button-styles; // Apply button styles

      & {
        display: inline-flex;
        align-items: center;
        gap: 0.75rem;
        text-decoration: none;
        font-size: 1rem;
      }

      @media (max-width: 768px) {
        padding: 0.8rem 1.6rem;
        font-size: calc(0.5rem + 1vw);
      }

      @media (max-width: 480px) {
        padding: 0.6rem 1.2rem;
        font-size: calc(0.4rem + 1.5vw);
      }

      svg {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
      }

      &:hover {
        svg {
          transform: translateX(4px); // Arrow animation
        }
      }
    }
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Responsive grid
  gap: 16px; // Space between items
}

.gallery__item {
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05); // Slightly larger zoom
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); // Enhanced shadow
    z-index: 1;
  }

  img,
  iframe {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  iframe {
    height: 200px; // Fixed height for videos
    object-fit: cover; // Ensures content fills the frame nicely
    aspect-ratio: 16 / 9; // Maintain video aspect ratio
    border: none;
  }
}

/* Responsive Design */
@media screen and (min-width: 1440px) {
  .gallery {
    width: 60%; // Reduced width for larger screens
  }
}

@media screen and (max-width: 900px) {
  .gallery-grid {
    gap: 12px;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    padding: 0 0.5rem;
  }

  .gallery__title {
    font-size: 1.5rem;
  }

  .gallery__more-link {
    font-size: 0.9rem;
  }
}