@use "../../styles/variables" as vars;
@use "../../styles/mixins" as *;

.images-gallery {
  margin: 2rem auto;
  width: 100%;

  .gallery__title {
    margin: 2rem 0;
    font-family: vars.$font-secondary;
    font-size: 2rem;
    color: vars.$color-primary;
    text-align: center;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .gallery__item {
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      z-index: 1;
    }

    img,
    iframe {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
    }

    iframe {
      height: 200px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      border: none;
    }
  }

  .gallery__more {
    text-align: center;
    margin-top: 3rem;

    .gallery__more-link {
      @include button-styles;

      & {
        display: inline-flex;
        align-items: center;
        gap: 0.75rem;
        text-decoration: none;
        font-size: 1rem;
      }

      @media (max-width: 768px) {
        padding: 0.8rem 1.6rem;
        font-size: calc(0.5rem + 1vw);
      }

      @media (max-width: 480px) {
        padding: 0.6rem 1.2rem;
        font-size: calc(0.4rem + 1.5vw);
      }

      svg {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
      }

      &:hover {
        svg {
          transform: translateX(4px);
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .images-gallery .gallery-grid {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .images-gallery .gallery-grid {
    gap: 12px;
  }
}

@media screen and (max-width: 600px) {
  .images-gallery {
    padding: 0 0.5rem;

    .gallery__title {
      font-size: 1.5rem;
    }

    .gallery__more-link {
      font-size: 0.9rem;
    }
  }
}