/* Testimonials.scss */
@import "../../styles/variables";
@import "../../styles/mixins";

.testimonials {
  padding: 40px 20px;
  background-color: $color-background;
  text-align: center;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    font-size: 2rem;
    margin: 2rem;
    color: $color-primary;
    font-family: $font-secondary;
  }

  &__carousel {
    margin-bottom: 40px;

    .testimonial {
      background-color: $color-background;
      padding: 20px;
      border-radius: 10px;
      transition: $transition-default;

      &__header {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        .testimonial__image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-right: 15px;
        }

        .testimonial__name-stars {
          text-align: left;

          .testimonial__name {
            font-size: 1.2rem;
            color: $color-secondary;
            margin-bottom: 5px;
            font-family: $font-secondary;
          }

          .testimonial__stars {
            color: $color-accent;

            i {
              margin-right: 2px;
            }
          }
        }
      }

      &__review {
        font-size: calc(0.8rem + 0.5vw);
        color: $color-primary;
        line-height: 1.4;
        font-family: $font-primary;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  &__button-container {
    margin-top: 20px;

    .testimonials__button {
      @include button-styles;
    }
  }
}
