@import "../../styles/_variables";
@import "../../styles/mixins";

.testimonials {
  text-align: center;
  color: $color-primary;
  font-family: $font-primary;
  margin: 3rem auto;

  &__title {
    margin-bottom: 1rem;
    font-family: $font-secondary;
    color: $color-secondary;
  }

  &__button {
    @include button-styles;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100vw;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__name-stars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    color: $color-primary;
    margin: 0;
    font-family: $font-primary;
    font-size: 1rem;
  }

  &__stars {
    color: $color-accent;
  }

  &__review {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color: $color-secondary;
    font-family: $font-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    transition: height 0.3s ease;
  }
}

@media screen and (max-width: 768px) {
  .testimonial {
    &__name {
      font-size: 0.875rem; 
    }

    &__review {
      font-size: 0.875rem; 
      padding: 15px; 
      -webkit-line-clamp: 10; 
      line-clamp: 5;
    }
  }
}

@media screen and (min-width: 1440px) {
  .testimonial {
    width: 60%;
  }
}
