@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/common'; // Import the common styles

.chatbot-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 1000;
  border-radius: 5px;

  @media (max-width: 480px) {
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    align-items: stretch;
  }
}

.chatbot-toggle {
  @extend .common-icon-style; // Use the common class


  &:hover {
    background-color: $color-secondary;
  }

  @media (max-width: 480px) {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

.chatbot {
  display: none;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background: $color-background;
  border: 1px solid $color-secondary;
  border-radius: 8px;
  box-shadow: 0 4px 8px $box-shadow-color;
  overflow: hidden;
  margin-right: 4rem;

  &.open {
    display: flex;
  }

  @media (max-width: 480px) {
    width: 92%;
    margin: 0 auto;
    height: calc(70vh - 20px);
    border: none;
    border-radius: 1rem 1rem 0 0;
  }
}

.chatbot-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  background-color: $color-background;
  border-bottom: 1px solid $color-secondary;
}

.close-button {
  background: none;
  border: none;
  color: $color-primary;
  font-size: 1.2rem;
  cursor: pointer;
  transition: $transition-default;

  &:hover {
    color: $hover-color;
  }
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    a.whatsapp-link {
      color: $color-primary;
      margin: 0 10px;
    }
  }
}

@include responsive-layout;
