// src/components/NavBar/NavBar.scss
@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav {
  @include mixins.flex-center(space-between);
  padding: 0 1rem;
  height: 4rem;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color vars.$transition-ease, 
              box-shadow vars.$transition-ease;

  &.transparent {
    box-shadow: 0 0 0.625rem vars.$box-shadow-color;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .classic-menu {
    display: none;

    @media screen and (min-width: 1024px) {
      display: flex;

      &__list {
        @include mixins.flex-center(center);
        gap: 1rem;

        li {
          list-style: none;
          font-family: vars.$font-secondary;
          font-size: 1.2rem;
          font-weight: 600;
          color: vars.$color-primary;
          text-decoration: none;
          transition: vars.$transition-default;

          &:hover {
            color: vars.$hover-color;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 0 2rem;
    height: 5rem;
  }
}


