@use "sass:color";
@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixins" as mixins;
@use "./components/SafariHeader" as header;
@use "./components/SafariContent" as content;
@use "./components/_SafariDetails" as details;
@use "./components/_RelatedSafaris" as related;
@use "../common/LoadingSpinner" as spinner;
@use "../common/NotFound" as notfound;

.safari-info-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: vars.$color-background;

  @include mixins.fade-in-up();

  @include mixins.respond-to(sm) {
    padding: 1.5rem 0.75rem;
  }
}