// ValueProp Component Styles
@use "../../../../../styles/variables" as vars;

.value-prop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  i {
    font-size: 2.2rem;
    color: vars.$color-accent;
    margin-bottom: 0.75rem;
  }

  div {
    flex-grow: 1;
  }

  h3 {
    font-size: 1.1rem;
    color: vars.$color-primary;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 0.95rem;
    color: vars.$color-secondary;
    line-height: 1.6;
  }
}