// Footer.scss
@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.footer {
  background-color: vars.$color-background;
  padding: 1.25rem;
  font-size: calc(0.8rem + 0.5vw);
  color: vars.$color-primary;
  font-family: vars.$font-secondary;
  overflow-x: hidden;
  margin-top: auto;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 0.625rem;
    text-align: center;
    font-weight: normal;
    color: vars.$color-accent;
  }

  &__copyright {
    text-align: center;
    margin-bottom: 1rem;
    color: vars.$color-secondary;
  }
}