@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixins" as mixins;

.safari-item {
  background-color: vars.$color-background;
  padding: 20px;
  border-radius: vars.$border-radius-default;
  box-shadow: vars.$box-shadow-default;
  text-align: center;
  @include mixins.fade-in-up;

  @include mixins.respond-to(sm) {
    padding: 15px;
  }

  @include mixins.respond-to(md) {
    padding: 18px;
  }

  @include mixins.respond-to(lg) {
    padding: 25px;
  }

  img {
    width: 100%;
    border-radius: vars.$border-radius-default;
    margin-bottom: 15px;
    
    @include mixins.respond-to(lg) {
      height: 200px;
      object-fit: cover;
    }
  }

  h3 {
    font-family: vars.$font-secondary;
    font-size: 1.5rem;
    color: vars.$color-primary;
    margin-bottom: 10px;

    @include mixins.respond-to(sm) {
      font-size: 1.2rem;
    }

    @include mixins.respond-to(md) {
      font-size: 1.4rem;
    }

    @include mixins.respond-to(lg) {
      font-size: 1.6rem;
    }
  }

  p {
    font-family: vars.$font-secondary;
    font-size: 1rem;
    color: vars.$color-secondary;
    line-height: 1.6;

    @include mixins.respond-to(sm) {
      font-size: 0.9rem;
    }

    @include mixins.respond-to(md) {
      font-size: 1rem;
    }

    @include mixins.respond-to(lg) {
      font-size: 1.1rem;
    }
  }

  a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
  }

  .learn-more {
    @include mixins.button-styles;
  }
}